<html>
    <head>
        <title><%= chosenCategory.name %></title>
    </head>
    <body>
        <% categoryItems.forEach(item => { %>
            <p><%= item.name %></p>
        <% }) %>
    </body>
</html>