<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="./items.css">
    </head>
    <body>
        <%- include('header') %>
        <%- include('sidebar', { categories: categories }) %>
        <div class="main-container">
           
           <div class="items-holder">
            <% categoryItems.forEach(item => { %>
                <p><%= item.name %></p>
            <% }) %> 
       </div>
            
        </div>
        
    </body>
</html>