<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/categories.css">
        
    </head>
    <body>
        <div class="sidebar-container">
            <div class="items-menu">
                <a href="/">All Items</a>
                <a href="/newItem">+ Add Item</a>
            </div>
            <div class="categories-menu">
                <div class="categories-header">
                    <h3 class="categories-title">Categories</h3>
                    <a href="/newCategory" class="add-category-link">+</a>
                </div>
                <% if (locals.categories) { %>
                    <% categories.forEach(category => { %>
                        <div class="category-container">
                            <a href="/category/<%= category.id %>" class="category-link">
                                <%= category.name %>
                            </a>
                            <a href="/updateCategory/<%= category.id %>" class="edit-category-link">
                                <svg class="edit-svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                                </svg>
                            </a>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </body>
</html>