<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/categories.css">
        
    </head>
    <body>
        <div class="sidebar-container">
            <div class="items-menu">
                <a href="/">All Items</a>
                <a href="/newItem">+ Add Item</a>
            </div>
            <div class="categories-menu">
                <div class="categories-header">
                    <h3 class="categories-title">Categories</h3>
                    <a href="/newCategory" class="add-category-link">+</a>
                </div>
                <% if (locals.categories) { %>
                    <% categories.forEach(category => { %>
                        <a href="/category/<%= category.id %>" class="category-link">
                            <%= category.name %>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </body>
</html>