<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="sidebar-container">
            <div class="items-menu">
                <a href="/">All Items</a>
                <a href="/newItem">+ Add Item</a>
            </div>
            <div class="category-menu">
                <% // insert category list here %>
                <a href="">+ Add Category</a>
            </div>
        </div>
    </body>
</html>