.categories-menu {
    display: flex;
    flex-direction: column;
    
}

.categories-header {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.categories-title {
    color: azure;
    margin: 8px 0px;
}

.add-category-link {
    font-size: 26px;
    font-weight: bold;
    transition: all ease-out 400ms;
    will-change: transform;
}

.add-category-link:hover {
    transform: rotate(180deg);
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.category-container:hover .edit-svg {
    display: block;
}


.category-link {
    margin: 10px 0px;
}

.edit-svg {
    display: none;
    margin-right: 35px;
    height: 20px;
    transition:  all ease-out 300ms;
    color: rgb(246, 135, 101);
}

.edit-svg:hover {
    transform: scale(1.1);
}


/* category view */

.category-title {
    margin-left: 40px;
    color: white;
}