.main-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    position: relative;
}

/* new item and update item form section */
.item-title-container, .category-title-container  {
    margin-right: 35px;
    font-size: 28px;
}


.back-button {
    display: flex;
    justify-content: center;
    transition: all ease-in-out 300ms;
}

.back-button > svg {
    display: flex;
    justify-content: center;
    text-align: center;
}

.back-button > svg:hover {
    background-color: rgb(212, 221, 221);
    border-radius: 25px;
    
}

.item-form, .update-item-form {
    padding: 10px 30px;
    background-color: rgb(212, 221, 221);
    border-radius: 20px;
    /* height: 55vh; */
    height: fit-content;
    box-shadow: 2px 2px 7px 0px rgb(110, 110, 110);
}

.item-form > label, .update-item-form > label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

.update-item-form {
    position: relative;
}


.checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    column-gap: 13px;
    row-gap: 10px;
}

.checkbox-holder {
    display: flex;
}

.error-container {
    /* position: absolute; */
    top: 100px;
    right: 18vw;
    line-height: 1.5;
    color: red;
}

.delete-item-link {
    position: absolute;
    top: 20px;
    right: 30px;
    text-decoration: none;
    background-color: rgb(238, 80, 80);
    color: white;
    padding: 5px 8px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 7px 0px rgb(101, 101, 101);
    transition: all ease-out 300ms;
    will-change: transform;
}

.delete-item-link:hover {
    transform: scale(1.1);
}


/* new category and update category form */

.category-form, .update-category-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    padding-top: 15px;
    background-color: rgb(212, 221, 221);
    border-radius: 20px;
    height: 27vh;
    box-shadow: 2px 2px 7px 0px rgb(110, 110, 110);
}

.category-form > label, .update-category-form > label {
    margin-top: 20px;
}

.add-category-btn, .update-category-btn {
    margin-top: 20px;
    width: 120px;
}

.delete-category-link {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    background-color: rgb(238, 80, 80);
    color: white;
    padding: 5px 8px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 7px 0px rgb(101, 101, 101);
    transition: all ease-out 300ms;
    will-change: transform;
}

.delete-category-link:hover {
    transform: scale(1.1);
}

