.items-holder {
    display: grid;
    grid-template-columns: repeat(5, minmax(170px, 1fr));
    row-gap: 55px;
}

.item-container {
   
}

.img-container {
    position: relative;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.item-img {
    height: 155px;
    max-width: none;
    margin: 0 -100%;
}

.description-container > p {
    margin: 8px 0px;
}



.item-form {
    
}

.item-form label {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}