.all-items-title {
    margin-left: 40px;
    color: white;
}

.items-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    row-gap: 45px;
    column-gap: 45px;
    margin: 20px;
}

.item-container {
    transition: all ease-out 350ms;
    color: white;
}

.item-container:hover {
    transform: translateY(-10px);
}

.img-container {
    position: relative;
    width: 170px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 5px 0px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(44, 44, 44);
}

.item-img {
    height: 155px;
    max-width: none;
    margin: 0 -100%;

}

.item-name {
    text-align: center;
    margin-bottom: 8px;
}

.description-container {
    position: relative;
}

.description-container > p {
    display: flex;
    margin: 8px 0px;
}

.edit-item-link {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: rgb(246, 135, 101);
    border-radius: 15px;
    padding: 3px 8px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 4px 0px rgb(44, 44, 44);
}


