html, body {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}


/* header */
.header-container {
    height: 150px;
    background-color: rgb(193, 235, 235);
    width: 100vw;
    grid-column: 1 / 3;
    grid-row: 1;
}


.website-title {
    font-size: 30px;
    color: green;
}


/* sidebar */
.sidebar-container {
    grid-column: 1;
    grid-row: 2;
    height: calc(100vh - 150px);
    background-color: lightskyblue;
}

.sidebar-container a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.items-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.categories-menu {
    margin-left: 15px;
}



.main-container {
    grid-column: 2;
    background-color: rgb(150, 178, 150);
}


